.home-page-info{
    height: 50vh;
    width: 100%;
    border: 1px solid red;
    .box1{
        border: 1px solid red;
        display: flex;
        .box1-description{
        }

        img{
            object-fit: contain;
            border-radius: 50%;
            height: 20vh;
        }
    }

    .box2{

    }
}
