



.movie{
    background-color: transparent;
    color: white;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 400px;
    margin: 1rem 0.2rem;
    
    border-radius: 1rem;

    img{
        border-radius: 1rem;
        height: 350px;
        width: 250px;
        box-shadow: 0 0 0.5px white;
        background-size: 100% 100%;


        &:hover{
            cursor: pointer;
            box-shadow: 0 0 0 1px white;
            background-size: 120% 120%;
        }
    }

    h1{
        padding: 0.8rem;
        font-family: 'Mukta', sans-serif;
        font-size: 1rem;
        text-align: center;
    }

    


    
}

