
.navbg{
    background-color: rgb(18, 18, 18);
    font-family: 'Mukta', sans-serif;

    .nav{
        
        flex-wrap: wrap;
        margin: 0rem 10rem;
        display: flex;
        height: 10vh;
        justify-content: space-around;
        align-items: center;

       

    
        .left-side{
            display: flex;
            align-items: center;
            font-family: 'Alkatra', cursive;

            img{
                object-fit: contain;
                height: 6vh;
            }

            h1{
                color: whitesmoke;
                font-size: 2rem;
                font-family: 'Montserrat', sans-serif;
            }

            i{
                color: white;
            }
        }
    
        .middle-side{
            display: flex;
            margin-right: 6rem;
            .nav-items{

                span{
                    margin: 1rem;
                    font-family: 'Mukta', sans-serif;

                    &:hover{
                        cursor: pointer;
                        color: #333366;
                        transition: all 0.4s ease;
                    }
                }

                .search-icon{
                    padding-top: 6px;
                }

                
            }
        }

        .right-side{
            button{
                
                cursor: pointer;
                outline: 0;
                display: inline-block;
                font-weight: 400;
                line-height: 1.5;
                text-align: center;
                background-color: transparent;
                border: 1px solid transparent;
                padding: 6px 20px;
                font-size: 1rem;
                border-radius: 4rem;
                transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
                color: white;
                border-color: white;
                &:hover {
                    color: white;
                    background-color: black;
                    border-color: #333366;
                }
            
            }
        }
    }
}

