

.search{
    border: 1px solid black;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/banner.jpg) no-repeat center;
    background-size:cover;

    form{
        width: 100%;
        display: flex;
        justify-content: center;

        input{
            
            display: block;
            margin: 1rem;
            padding: 1rem;
            color: inherit;
            width: 40%;
            font-family: inherit;
            border: none;
            border-radius: 1rem;
    
            &:focus{
                outline: none;
            }
              
        }
            
    }

    .search-results{

        .loaded-info{
            background-color: #202020;
            cursor: pointer;

            &:hover{
                background-color: rgb(231, 231, 231);

                h1,p{
                    color: black;
                }
            }
            
        }
    }

   
      
}