.footer{
    display: flex; 
    width: 100%; 
    justify-content: flex-end; 
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    gap: 2rem;
    padding-top: 1rem;
    height: 20vh;

    .footer-links{
        display: flex; 
        font-size: 2rem;
        gap: 1rem;
    }
    p{
        font-size: 1rem;
        font-family: 'Montserrat', sans-serif;
        padding-bottom: 2rem;
    }
}

.home-page-info{

    .watch{
        height: 40vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 8rem 15rem;

        .box1{
            display: flex;
            width: 40%;
    
            .box1-description{
                font-family: 'Poppins', sans-serif;
    
                h1{
                    font-size: 1.5rem;
                    margin: 1rem 0;
                }
    
                p{
                    font-size: 0.8rem;
                }
            }
    
            
        }
    
        .box2{
            margin: 1rem;
            img{
                object-fit: contain;
                height: 40vh;
            }
        }
    }

    .rating{
        height: 40vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 8rem 15rem;

        .boxA{
            display: flex;
            width: 40%;
    
            .boxA-description{
                font-family: 'Poppins', sans-serif;
    
                h1{
                    font-size: 1.5rem;
                    margin: 1rem 0;
                }
    
                p{
                    font-size: 0.8rem;
                }
            }
    
            
        }
    
        .boxB{
            margin: 1rem;
            img{
                object-fit: contain;
                height: 40vh;
            }
        }
    }
}



.navbg{
    background-color: rgb(24, 23, 23);
    font-family: 'Mukta', sans-serif;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;

    .nav{
        
        height: 10vh;
        flex-wrap: wrap;
        margin: 0rem 10rem;
        display: flex;
        justify-content: space-around;
        align-items: center;

       

    
        .left-side{
            display: flex;
            flex: 1;
            justify-content: center;
            align-items: center;
            font-family: 'Alkatra', cursive;

            img{
                object-fit: contain;
                height: 5vh;
            }

            h1{
                color: whitesmoke;
                font-size: 2rem;
                font-family: 'Montserrat', sans-serif;
                padding: 1rem;
            }

            i{
                color: white;
            }
        }
    
        .middle-side{
            display: flex;
            justify-content: center;
            flex: 2;
            .nav-items{

                span{
                    padding: 1rem;
                    font-family: 'Mukta', sans-serif;

                    &:hover{
                        cursor: pointer;
                        color: #8686e4;
                        transition: all 0.4s ease;
                    }
                }

                .search-icon{
                    padding-top: 6px;
                }

                
            }
        }

        .right-side{
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1;
            .button-nav{
                
                cursor: pointer;
                outline: 0;
                display: inline-block;
                font-weight: 400;
                line-height: 1.5;
                text-align: center;
                background-color: transparent;
                border: 1px solid transparent;
                padding: 6px 20px;
                font-size: 1rem;
                border-radius: 4rem;
                transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
                color: white;
                border-color: white;
                &:hover {
                    color: white;
                    background-color: black;
                    border-color: #333366;
                }
            
            }

            .social-icon{
                font-size: 1.4rem;
            }

            .user-logged-in-dropdown{
                display: flex; 
                align-items: center;
                flex-direction: row; 
                margin: 1rem;
                gap: 1rem;

                img{
                    object-fit: contain;
                    border-radius: 50%;
                    height: 4vh;
                }

                h1{
                    font-size: 1.2rem;
                }

                
                
            }


        }
    }
}



.search{
    border: 1px solid black;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
        background:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/banner.jpg) no-repeat center;
    background-size: cover;
    

    .search-title{
        font-size: 2rem;
        font-family: 'Poppins', sans-serif;
    }

    
    form{
        width: 100%;
        display: flex;
        justify-content: center;

        input{
            
            display: block;
            margin: 1rem;
            padding: 1rem;
            color: inherit;
            width: 40%;
            font-family: inherit;
            border: none;
            border-radius: 1rem;
    
            &:focus{
                outline: none;
            }
              
        }
            
    }

    .search-results{
        position: absolute;
        top: 60%;


        .loaded-info{
            background-color: #202020;
            cursor: pointer;
            display: flex; 
            height: 10vh; 
            width: 25vw; 
            justify-content: space-around; 
            gap: 1rem; 
            align-items: center; 
            box-shadow: 0 0 0.8px white;
                  
            background-size: 100% 100%; 
            margin: 5px; 
            border-radius: 1rem;

            img{
                object-fit: contain;
                height: 9vh;
            }

            h1{
                width: 10vw; 
                text-align: center;
            }

            &:hover{
                background-color: white;

                h1,p{
                    color: black;
                }
            }
            
        }
    }

   
      
}

.tv-item{
    background-color: transparent;
    color: white;
    font-family: 'Poppins', sans-serif;
    max-width: 250px;
    max-height: 400px;
    margin: 1rem 0.2rem;    
    border-radius: 1rem;
    

    img{
        border-radius: 1rem;
        height: 350px;
        width: 250px;
        box-shadow: 0 0 0.5px white;
        background-size: 100% 100%;


        &:hover{
            cursor: pointer;
            box-shadow: 0 0 0 1px white;
            background-size: 120% 120%;
        }
    }

    h1{
        padding: 0.8rem;
        font-family: 'Mukta', sans-serif;
        font-size: 1rem;
        text-align: center;
    }

    


    
}


.details-frag{

    .details{
        .backdrop-div{
            display: flex;
            justify-content: center; 
            width: 100vw;
    
            .backdrop{
    
            }
    
            
        }

        .details-info{
            display: flex;
            justify-content: space-between; 
            margin: 1rem 24rem;

            .details-image-div{
                margin-right: 2rem;
                display: flex; 
                flex: 1;
                flex-direction: column;
                justify-content: center;
                margin: 0 auto;

                img{
                    object-fit: contain;
                    height: 48vh;
                    border-radius: 2rem;
                    
                }

                .rate-review{
                    display: flex;
                    flex-direction: column;
                  

                    height: 24vh;
                    width: 18vw;
                    display: flex;
                    margin: 2rem auto;
                    border-radius: 1rem;
                    -webkit-box-shadow: 0px 0px 5px -1px #FFFFFF; 
                    box-shadow: 0px 0px 5px -1px #FFFFFF;

                    .hori-line{
                        width: 100%;
                        border: 1px solid white;
                        opacity: 0.4;
                    }

                    .star-rating{
                        display: flex;
                        justify-content: center;
                        margin: 1rem;

                        .star-icon{
                            cursor: pointer;

                            font-size: 2rem;
                            color: whitesmoke;

                            &:hover{
                                color: gold;
                            }


                        }
                    }

                    .features{
                        display: flex;
                        justify-content: space-around;
                        margin: 1rem 5rem;
                        gap: 2rem;

                        .features-icon{
                            cursor: pointer;
                            font-size: 1.5rem;

                            &.heart:hover{
                                color: red;
                            }

                            &.plus:hover{
                                color: rgb(65, 200, 65);
                            }

                            &.watchlist:hover{
                                color: rgb(68, 201, 201);
                            }
                        }
                    }

                    .more-features{
                        gap: 0.8rem;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        text-align: center;
                        align-items: center;
                        height: 100%;
                    
                        p{
                            font-size: 1.2rem;
                            padding: 0.8rem;
                            font-family: 'Mukta', sans-serif;
                            width: 100%;



                            &:hover{
                                background: white;
                                color: black;
                                cursor: pointer;
                            }
                        }
                    }
                }
                
            }

            .details-text{
                display: flex;
                flex-direction: column; 
                justify-content: flex-start;
                margin: 0rem 2rem;
                flex: 2;
                gap: 2rem;
                font-family: 'Montserrat', sans-serif;

                h1{
                    font-size: 2.8rem;
                    font-weight: bolder;
                }

                

                .actors{
                    display: flex;
                    gap: 3rem;
                    align-items: flex-start;
                    margin: 0 1rem;


                    .actors-div{
                        
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        align-items: center;
                        width: 7rem;

                        text-align: center;
                        gap: 0.4rem;

                        img{
                            margin-bottom: 10px;
                            object-fit: contain;
                            height: 14vh;
                            opacity: 0.9;
                            transition: all 0.2s ease-in-out;
                            border-radius: 2rem;

                            &:hover{
                                opacity: 1;
                                cursor: pointer;
                            }
                        }

                        h1{
                            font-size: 1rem;
                        }
                        p{
                            font-size: 0.8rem;
                        }

                        
                        
                    }
                }

               
            }
        }
        .similar-movies{
            margin: 6rem 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 3rem;

            h1:first-child{

                font-size: 1.2rem;
                font-family: 'Poppins', sans-serif;
                justify-content: flex-start;

            }

            
            .similar-movies-map{
                display: flex;
                justify-content: center;
                gap: 2rem;
            }
        }
    }


}

.home{
    min-height: 100vh;

    .home-title{
        margin: 2rem 8rem;
        font-family: 'Poppins', sans-serif;
        font-size: 1.4rem;
    }

    .home-tv-display{
        

        .popular-series-display{
            display: flex;
            align-content: center;
            justify-content: center;
            flex-direction: row;
            margin: 2rem;
            flex-wrap: wrap;
            gap: 10px;
        }
    }
}

.dashboard-page{
    .dashboard{
        display: flex;
        margin: 5rem 12rem;
        height: 80vh;
        font-family: 'Poppins', sans-serif;
        

        .dashboard-left{
            padding: 2rem 1rem;
            display: flex;
            flex-direction: column;
            flex: 1;

            .dashboard-userinfo{
                display: flex;
                gap: 0.8rem;
                flex-direction: column;
                border-bottom: 1px solid white;

                h1{
                    font-size: 1.2rem;
                }
                
                p{
                    font-size: 0.8rem
                }
            }
    
            .dashboard-selections{
                margin-top: 2rem;
                display: flex;
                flex-direction: column;
                gap: 1rem;

                a{
                    padding: 1rem;
                }

                a.active {
                    background: white;
                    border-radius: 2rem;
                    color: black;
                }
            }
        }

        .dashboard-right{
            display: flex;
            flex: 2;
            margin: 2rem 4rem;


            .dashboard-right-div{
                display: flex;
                flex-direction: column;

                p{
                    font-size: 0.8rem;
                }

            }
        }
    }
}




.actor-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 6rem auto;
    gap: 2rem;

    .actor-details-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        gap: 2rem;

        img{
            object-fit: contain;
            height: 30vh;
            border-radius: 2rem;
        }

        p{
            width: 40vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0 auto;
        }

        h1{
            font-size: 2rem;
        }
    }

    .hori-line{
        margin: 0rem 20rem;
        border-bottom: 1px solid white;
    }

    .notable{
        font-size: 2rem;
        margin-top: 4rem 
    }
    
    .actor-details-credits{
        display: flex;
        margin: 6rem 12rem;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
    }
    
    .button-div{
        width: 100vw;
        display: flex;
        justify-content: center;
        
        .button-actors{
            border-radius: 1rem; 
            background: whitesmoke;
            width: 8rem; 
            font-size: 1rem; 
            color: black;
            padding: 10px;
        }
    }
  


}




.movie-container{
    display: flex;
    height: 80vh;
    margin: 2rem 12rem;
    flex-direction: column;

    .movie-banner{
        display: flex;
        height: 60vh;
        border-bottom: 1px solid white;

        .movie-banner-left{
            flex: 1;
            margin: 4rem auto;
            display: flex;
            flex-direction: column;

            .movie-banner-details{
                display: flex;
                flex-direction: column;
                gap: 10px
            }

                
            .movie-banner-genres{
                display: flex;
                gap: 1rem;
                height: 5vh;

                p{
                    color: rgb(138, 138, 138);
                    font-size: 1.2rem;
                }

                
            }

            .movie-banner-star-rating{
                display: flex;
                gap: 5px;

                .star-icon-full{
                    font-size: 1.6rem;
                    color: gold;
                }

                .star-icon-empty{
                    font-size: 1.6rem;
                }
            }

            h1{
                font-size: 3rem;
                font-family: 'Josefin Sans', sans-serif;
                height: 12vh;
                transition: opacity 0.3s ease-in-out;

            }

            h3{
                font-size: 1.8rem;
                transition: all 1s ease;

            }

            p{
                font-family: 'Poppins', sans-serif;
                height: 16vh;
                transition: all 1s ease;
                font-size: 0.9rem;
                overflow:hidden;

            }

            .movie-banner-button{
                background-color: #3d3d99;; 
                color: white;
                width:fit-content;
                display: flex;
                justify-content: center;
                margin: 1rem auto;
                padding: 1rem;
                border-radius: 1rem;
                outline: #8686e4;

                &:hover{
                    background-color: whitesmoke;
                    outline: #8686e4;;
                    transition: all 0.4s ease-in-out;
                    color: black;
                }

            }

                

            

            .movie-sort{
                display: flex;
                gap: 1rem;

                
                select{
                    padding: 1rem;
                    text-align: center;
                    


                    option{
                        padding: 1rem;
                        color: red;
                        &:hover{      
                            background-color: #8686e4; 
                            color: green;  
                        }

                    }

                    
                       

                    
                }

                
            }
        }

        .movie-banner-right{
            flex: 2;
            display: flex;
            justify-content: flex-end;

            img{
                object-fit: cover;
                height: 55vh;
            }

        }
    }

    .upcoming{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        padding: 10px 0 0 0;
        max-height: 100%;


        .upcoming-h1{
            font-size: 1.4rem;
        }

        .movie-list{
            display: flex;
            gap: 20px;
            justify-content: center;
        }

    }
    
    .hot-movies{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        margin: 3rem 0;
        max-height: 100%;

        .hot-h1{
            font-size: 1.4rem;
        }
    }

        .hot-movie-list{
            display: flex;
            gap: 20px;
            justify-content: center;
        }

    

    

    
}

