@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  color: rgba(255, 255, 255, 0.87);
  background-color: #2a2a2a;
  font-weight: 400;

  background-color: #e5e5f7;
  background-image: radial-gradient(#000566 0.5px, #e5e5f7 0.5px);
  background-size: 10px 10px;
  background: repeat url(img/pattern.JPG);
  

  
  min-height: 100vh;
}

